.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/stylesheets/compiled/*.css
webrat.log
tmp
public/;-)
.rvmrc

# Temporary files of every sort
.sass-cache
.DS_Store
.idea
.rvmrc
.stgit*
*.swap
*.swo
*.swp
*~
bin/*
nbproject
patches-*
capybara-*.html
dump.rdb
