/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus {
  outline: none;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
label {
  font-weight: bold;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
legend {
  font-weight: bold;
  font-size: 1.2em;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.text, input.title, input[type=email], input[type=text], input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input[type=checkbox], input.checkbox, input[type=radio], input.radio {
  position: relative;
  top: 0.25em;
}

/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
textarea {
  margin: 0.5em 0;
  padding: 5px;
}

/* line 34, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
select {
  margin: 0.5em 0;
}

/* line 8, ../../../app/stylesheets/devise.sass */
* {
  border-width: 1px !important;
}

/* line 10, ../../../app/stylesheets/devise.sass */
input, input:focus {
  border: 1px solid #666666 !important;
  box-sizing: border-box;
}

/* line 13, ../../../app/stylesheets/devise.sass */
.content {
  width: 600px;
  margin: 0px auto;
}
/* line 17, ../../../app/stylesheets/devise.sass */
.content fieldset button, .content fieldset input[type=submit] {
  background-color: #004c9b;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5aa0e9), color-stop(10%, #1b72cd), color-stop(50%, #10447b), color-stop(50%, #0e3d6e), color-stop(100%, #14569b));
  background-image: -moz-linear-gradient(top, #5aa0e9 0%, #1b72cd 10%, #10447b 50%, #0e3d6e 50%, #14569b 100%);
  background-image: linear-gradient(top, #5aa0e9 0%, #1b72cd 10%, #10447b 50%, #0e3d6e 50%, #14569b 100%);
  border-color: #092645;
  text-shadow: #000d1b 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.304) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.304) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.304) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.304) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.content fieldset button, .content fieldset button:visited, .content fieldset input[type=submit], .content fieldset input[type=submit]:visited {
  color: white;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.content fieldset button:hover, .content fieldset button:focus, .content fieldset input[type=submit]:hover, .content fieldset input[type=submit]:focus {
  background-color: #4c9b00;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #a0e95a), color-stop(10%, #72cd1b), color-stop(50%, #447b10), color-stop(50%, #3d6e0e), color-stop(100%, #569b14));
  background-image: -moz-linear-gradient(top, #a0e95a 0%, #72cd1b 10%, #447b10 50%, #3d6e0e 50%, #569b14 100%);
  background-image: linear-gradient(top, #a0e95a 0%, #72cd1b 10%, #447b10 50%, #3d6e0e 50%, #569b14 100%);
  border-color: #264509;
  text-shadow: #0d1b00 0px 1px 1px;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.content fieldset button:hover, .content fieldset button:hover:visited, .content fieldset button:focus, .content fieldset button:focus:visited, .content fieldset input[type=submit]:hover, .content fieldset input[type=submit]:hover:visited, .content fieldset input[type=submit]:focus, .content fieldset input[type=submit]:focus:visited {
  color: white;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.content fieldset button:active, .content fieldset input[type=submit]:active {
  background-color: #3d7c00;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3d6e0e), color-stop(30%, #427710), color-stop(50%, #38650d), color-stop(50%, #30570b), color-stop(100%, #519213));
  background-image: -moz-linear-gradient(top, #3d6e0e 0%, #427710 30%, #38650d 50%, #30570b 50%, #519213 100%);
  background-image: linear-gradient(top, #3d6e0e 0%, #427710 30%, #38650d 50%, #30570b 50%, #519213 100%);
  border-color: #172a06;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #264509 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #264509 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #264509 0 0.08em 0.1em 1px inset;
  box-shadow: #264509 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.content fieldset button:active, .content fieldset button:active:visited, .content fieldset input[type=submit]:active, .content fieldset input[type=submit]:active:visited {
  color: white;
}
/* line 19, ../../../app/stylesheets/devise.sass */
.content ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.content ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.content ul li:first-child, .content ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.content ul li:last-child, .content ul li.last {
  padding-right: 0;
}
