.logo
  position: absolute
  right: 100px
  h1
    overflow: hidden
    text-indent: -9990px
    background: url('/images/logo.png') no-repeat
    width: 184px
    height: 57px
    a
      display: block
      height: block
      width: 184px
      height: 57px
