<table>
    <tr>
        <td width="100">
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://7wit.ru" layout="button_count" show_faces="true" width="150" font=""></fb:like>
        </td>
        <td width="100">
            <script type="text/javascript">
              VK.init({apiId: 2223996, onlyWidgets: true});
            </script>

            <!-- Put this div tag to the place, where the Like block will be -->
            <div id="vk_like"></div>
            <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "button"});
            </script>
        </td>
        <td width="100">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://7wit.ru" data-text="Остроумие и каракуле-воображение" data-count="horizontal" data-via="_7wit">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </td>
    </tr>
</table>

