@import "compass/reset"
@import "compass/utilities/lists/horizontal-list"
@import "compass/utilities/links/link-colors"
@import "compass/utilities/links/link-colors"
@import "compass/utilities/general/min"
@import "compass/css3"
@import "blueprint"
@import "blueprint/typography"
@import "fancy-buttons"

@import "partials/default"
@import "partials/devise"
@import "partials/page"
@import "partials/logo"

$light-gray: #e7e7e7
$dark-gray: #bbb

//$default-box-shadow-h-offset: 5px
//$default-box-shadow-v-offset: 5px
#header
  height: 25px
  padding-top: 5px
  padding-left: 5px
  border-bottom: 1px dotted $light-gray
  margin-bottom: $default-margin*1.5
  a
    margin-right: 10px
  .user-menu
    float: left
    margin-right: 15px
    a, span
      margin-right: 15px
  .control-menu
    float: right
    .log_out
      margin-right: 20px
  .nick
    float: left
    margin-right: 1px
  .main-navigation
    float: left
    margin-right: 15px
    a
      margin-right: 10px
  .wit-power
    float: left
    margin-right: 4px
    margin-left: 5px
    abbr
      color: green
  .semi-column
    float: left
    margin-right: 5px

#last_images
  margin-left: $default-margin !important
  margin-bottom: $default-margin*1.5 !important
  +horizontal-list
  li
    margin-right: $default-margin
    .image-container
      height: 65px
    .date
      padding-top: 4px
      color: $quiet-color
      font-size: 12px
  li.active
    .date
      color: $loud-color

.content
  width: 1000px
  margin: 0 auto
  #main_image
    width: 540px
    float: left

  #comments
    margin-left: 550px
    width: 450px
    h1
      font-size: 1.5em
      color: green
    .menu
      border-bottom: 1px solid $dark-gray
      h2
        font-size: 18px
        padding-bottom: 10px
        margin-bottom: 0
        font-weight: bold
    form.new_comment
      padding: 5px
      border-bottom: 1px solid $light-gray
      .comment-input-title
        color: gray

      textarea
        height: 50px
        outlike-color: black
      textarea:focus
        +box-shadow
      .submit-container
        display: block
        #characters_left
          display: inline

    .comments
      .comment
        padding: 10px
        padding-bottom: 25px
        border-bottom: 1px dotted $light-gray
        .body
          p
            margin-bottom: 8px
        .comment-info
          margin-bottom: 4px
          .nick, .time-passed, .like-to
            display: inline
            margin-right: 4%
          .nick
            a
              font-weight: bold
              font-size: 12px
          .time-passed
            font-size: 11px
            color: gray
            abbr
              border-bottom: none
            abbr:hover
              border-bottom: 1px dotted #666
          .like-to
            font-size: 11px
            color: gray
            b
              color: #323232
              font-size: 12px
        .body
        .i-like
          margin-top: 4px
          font-size: 12px
          display: none
          position: absolute
      .comment:hover
        background-color: $light-gray
        .menu
          display: inline
        .i-like
          display: inline

.dialog-box
  +box-shadow
  +border-radius
  background: white
  width: 400px
  position: absolute
  z-index: 5000
  display: none
  .dialog-content
    padding: 10px
    margin: 13px
    color: #666
    font-size: 11px
    +form-content

