@import "compass/utilities/lists/horizontal-list"
@import "blueprint"
@import "blueprint/typography"
@import "blueprint/form"
@import "fancy-buttons"


@import "partials/devise"
@import "partials/logo"

body
  background-color: #a8dbf9
  +form-content
  .form
    background-color: white
    width: 500px
    padding: 20px
    margin-left: 100px
    position: fixed
    top: 100px
    h1
      span
        font-size: 14px
    ul
      +no-bullets
